<!DOCTYPE html>
<head>
    <title>CRUD Operation With PostgreSQL</title>
</head>
<body>
    <center>
        <h1> How to create CRUD operations With PostgreSQL </h1>
        <h3> Django Learning </h3>
        <hr/>
        <a href = "{% url 'Insertemp' %}"> Create New Employee</a>
        <table border='1'>
            <tr>
                <th> Employee Id</th>
                <th> Employee Name</th>
                <th> Email </th>
                <th> Ocupation </th>
                <th> Salery </th>
                <th> Gender </th>
            </tr>
            {% for result in data %}
            <tr>
                <td>{{result.id}}</td>
                <td>{{result.empname}}</td>
                <td>{{result.email}}</td>
                <td>{{result.occupation}}</td>
                <td>{{result.salary}}</td>
                <td>{{result.gender}}</td>
                <td><a href = "Edit/{{result.id}}"/>Edit</a></td>
                <td><a href = "Delete/{{result.id}}" onclick="return confirm('Are you sure ?')">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>                
